.neutral-btn {
  background-color: #17884a;
  border: none;
  color: #333;
  width: 100%;
  text-align: center;
}

.neutral-btn:hover {
  background-color: #17884a;
  color: #111;
}
.feed-btn {
  background-color: #007bff;
  border: none;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.feed-btn:hover {
  background-color:  #0056b3;
  color: #ffffff;
}

.danger-btn {
  background-color: #dc3545; /* Color rojo de Bootstrap */
  color: white;
  border: none;
  width: 100%;
  text-align: center;
}

.danger-btn:hover {
  background-color: #c82333;
  color: white;
}
