.neutral-btn {
  background-color: #17884a;
  border: none;
  color: #333;
  width: 100%;
  text-align: center;
}

.neutral-btn:hover {
  background-color: #17884a;
  color: #111;
}

.danger-btn {
  background-color: #dc3545; /* Color rojo de Bootstrap */
  color: white;
}

.danger-btnMP {
  background-color: #dc3545; /* Color rojo de Bootstrap */
  color: white;
  border: none; /* Elimina el borde */
  padding: 0.375rem; /* Reduce el relleno alrededor del ícono */
  display: inline-flex; /* Hace que el contenedor del botón sea flexible en línea */
  align-items: center; /* Alinea los íconos verticalmente */
  justify-content: center; /* Centra el ícono horizontalmente */
  width: 36px; /* Ajusta el ancho del botón */
  height: 36px; /* Ajusta la altura del botón */
  margin-left: 80px; /* Añade espacio a la izquierda del botón */
}

.danger-btnMP:hover {
  background-color: #c82333;
}
